<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
        <link rel="shortcut icon"
            href="https://avatars.githubusercontent.com/u/152502950?s=400&u=27eac8729a31466087b088f89bd8391f1c45b5be&v=4"
            type="image/x-icon">
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const loginPopup = document.getElementById('login-popup');
                const overlay = document.getElementById('overlay');
                const loginForm = document.getElementById('login-form');
                const adminDashboard = document.getElementById('admin-dashboard');
                const changePassword = document.getElementById('change-password');
                const adsUsernameInput = document.getElementById('ads_username');
                const adsPasswordInput = document.getElementById('ads_password');

                loginPopup.style.display = 'block';
                overlay.style.display = 'block';
                adminDashboard.style.display = 'none';
                changePassword.style.display = 'none';
                const logedIn = localStorage.getItem('logedIn');

                if (logedIn) {
                    loginPopup.style.display = 'none';
                    overlay.style.display = 'none';
                    adminDashboard.style.display = 'block';
                    changePassword.style.display = 'block';
                }

                loginForm.addEventListener('submit', function (event) {
                    event.preventDefault();
                    const enteredUsername = adsUsernameInput.value;
                    const enteredPassword = adsPasswordInput.value;

                    const correctUsername = '<%= adminData.adminUsername %>';
                    const correctPassword = '<%= adminData.adminPassword %>';

                    if (enteredUsername === correctUsername && enteredPassword === correctPassword) {
                        localStorage.setItem('logedIn', 'true');

                        loginPopup.style.display = 'none';
                        overlay.style.display = 'none';
                        adminDashboard.style.display = 'block';
                        changePassword.style.display = 'block';
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Lỗi...',
                            text: 'Sai tài khoản hoặc mật khẩu, vui lòng thử lại',
                        });
                    }
                });
            });
        </script>
        <title>Admin</title>
    </head>

    <body>
        <div id="overlay" class="overlay"></div>
        <div id="login-popup">
            <h2>Login</h2>
            <form id="login-form">
                <label for="ads_username">Tài Khoản admin:</label>
                <input type="text" id="ads_username" name="ads_username">

                <label for="ads_password">Mật Khẩu admin:</label>
                <input type="password" id="ads_password" name="ads_password">
                <div class="save-button">
                    <button type="submit">Đăng nhập</button>
                </div>
            </form>
        </div>
        <div id="admin-dashboard">
            <h1><a id="adminHeading" onclick="window.location.href='https://facebook.com/tripleseven190504'"
                    href="#">Admin Dashboard</a></h1>
            <form action="/update" method="post">
                <div id="container">
                    <div id="ads">
                        <div id="ads-username">
                            <label for="ads_username">Tài Khoản SMIT:</label>
                            <input type="text" name="ads_username" value="<%= data.ads_username %>">
                        </div>

                        <div id="ads-password">
                            <label for="ads_password">Mật Khẩu SMIT:</label>
                            <input type="text" name="ads_password" value="<%= data.ads_password %>">
                        </div>
                    </div>
                    <div id="facebook">
                        <div id="facebook-username">
                            <label for="facebook_username">Tài Khoản Facebook:</label>
                            <input type="text" name="facebook_username" value="<%= data.facebook_username %>">
                        </div>
                        <div id="facebook-password">
                            <label for="facebook_password">Mật Khẩu Facebook:</label>
                            <input type="text" name="facebook_password" value="<%= data.facebook_password %>">
                        </div>
                    </div>
                    <div id="facebook-2fa">
                        <label for="facebook_2fa">Facebook 2FA:</label>
                        <input id="input-2fa" type="text" name="facebook_2fa" value="<%= data.facebook_2fa %>">
                    </div>
                    <div id="pixel-main">
                        <label for="id_pixel">ID Pixel:</label>
                        <div id="pixel">
                            <% for (const pixel of pixelData) { %>
                            <div class="radio-container">
                                <input type="radio" name="id_pixel" value="<%= pixel.i %>"
                                    <%= data.id_pixel == pixel.i ? 'checked' : '' %>>
                                <div id="pixel-text"><%= pixel.pixelText %></div>
                            </div>
                            <% } %>
                        </div>

                    </div>
                </div>
                <div class="save-button">
                    <button type="submit">Lưu lại</button>
                </div>
            </form>
            <form class="save-button" action="/reloadPixels"><button type="submit">Khởi tạo lại(Chỉ click một lần)</button></form>
        </div>
        <div id="change-password">
            <h2>Thay Đổi Thông Tin</h2>
            <div class="save-button">
                <form action="/update-password" method="post">
                    <div id="client">
                        <div id="client-username">
                            <label>Tên Đăng Nhập:</label>
                            <input type="text" name="client_username" value="<%= adminData.clientUsername %>">
                        </div>
                        <div id="client-password">
                            <label>Mật Khẩu:</label>
                            <input type="text" name="client_password" value="<%= adminData.clientPassword %>">
                        </div>
                    </div>
                    <div id="admin">
                        <div id="admin-username">
                            <label>Tên Đăng Nhập Admin:</label>
                            <input type="text" name="admin_username" value="<%= adminData.adminUsername %>">
                        </div>
                        <div id="admin-password">
                            <label>Mật Khẩu Admin:</label>
                            <input type="text" name="admin_password" value="<%= adminData.adminPassword %>">
                        </div>
                    </div>
                    <div class="save-button"><button type="submit">Cập nhật thông tin</button></div>

                </form>
            </div>
        </div>
    </body>

</html>